.home_mainWrpr {
  /* overflow: hidden; */
  position: relative;
  padding-top: 88px;
  /* margin-top: -24px; */
  height: 100vh;
}
.home_subWrpr {
  background: url(../../public/assest/women_img_styloria.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top -121px;
  padding: 200px 0 0;
  height: 100%;
  position: relative;
}
.home_subWrpr::before {
  content: "";
  position: absolute;
  background-image: url(../../public/assest/left_arrow.png);
  background-color: #000;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  height: 15px;
  width: 8px;
  left: 90px;
  border: 1px solid #383633;
  padding: 10px;
  top: 50%;
}
.home_subWrpr::after {
  content: "";
  position: absolute;
  background-image: url(../../public/assest/left_arrow.png);
  background-color: #000;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  height: 15px;
  width: 8px;
  right: 90px;
  border: 1px solid #383633;
  padding: 10px;
  top: 50%;
  transform: rotate(180deg);
}
.home_textWrpr {
  padding-top: 50px;
}
.home_textWrpr h2 {
  font-size: 45px;
  font-weight: 600;
  color: #bb9d61;
}
.home_textWrpr h2 span {
  color: #ffb012;
}
.home_textWrpr a {
  font-size: 30px;
  font-weight: 400;
  color: #bb9d61;
}

.home_contentWrpr button {
  background: rgb(49, 49, 49);
  background: linear-gradient(
    180deg,
    rgba(49, 49, 49, 1) 1%,
    rgba(27, 27, 27, 1) 50%,
    rgba(2, 2, 2, 1) 100%
  );
  color: #bb9d61;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  padding: 16px 30px;
  width: 100%;
  border: 1px solid #33322e;
  position: relative;
  z-index: 99;
}
.btmText {
  position: relative;
  /* bottom: 0;
    right: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 135px;
}
.btmText h1 {
  text-align: center;
  font-size: 77px;
  text-transform: uppercase;
  color: #ffffff14;
}
.buttonWrpr {
  position: relative;
  width: 15.8%;
  margin-top: 30px;
  overflow: hidden;
  padding: 2px;
  border-radius: 50px;
}
/* .buttonWrpr::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg, transparent, #998152);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: 3s;
} */
.buttonWrpr::before {
  content: "";
  width: 100%;
  height: 35%;
  position: absolute;
  top: 22%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #998152);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    /* transition-timing-function: ease */
  }
  25% {
    transform: rotate(90deg);
    /* transition-timing-function: ease */
  }
  75% {
    transform: rotate(180deg);
    /* transition-timing-function: ease */
  }
  75% {
    transform: rotate(270deg);
    /* transition-timing-function: ease */
  }
  100% {
    transform: rotate(360deg);
  }
}

.bottomDesgin {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* background: rgb(25, 22, 15);
  background: linear-gradient(
    90deg,
    rgba(25, 22, 15, 1) 0%,
    rgba(187, 157, 97, 1) 50%,
    rgba(25, 22, 15, 1) 100%
  ); */
  width: 100%;
}
.bottomPaginatioLogo {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomPaginatioLogo::after {
  content: "";
  position: absolute;
  background: rgb(25, 22, 15);
  background: linear-gradient(
    90deg,
    rgba(25, 22, 15, 1) 0%,
    rgba(187, 157, 97, 1) 50%,
    rgba(25, 22, 15, 1) 100%
  );
  width: 100%;
  height: 1px;
  right: 0;
}
.bottomPaginatioLogo img {
  z-index: 9;
}
.home_textWrpr h2:nth-child(2) {
  position: relative;
  z-index: 9;
}
.home_textWrpr h2:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../../public/assest/star_one.svg);
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  z-index: 1;
  left: 240px;
  top: -40px;
  animation: starBlink 7s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

@keyframes starBlink {
  0% {
  background: url(../../public/assest/star_one.svg);
    transform: scale(1);
    opacity: 0.5;
  }
  25% {
    background: url(../../public/assest/star_one.svg);

    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    background: url(../../public/assest/star_two.svg);
    transform: scale(1);
    opacity: 1;
  }
  75% {
    background: url(../../public/assest/star_two.svg);
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    background: url(../../public/assest/star_one.svg);
    transform: scale(1);
    opacity: 0.5;
  }
}
